<main>
  <section class="title">
    <h1>Library Component</h1>
  </section>
  <section class="component-display">
    <div class="container">
      <div class="filters">
        <selectable-list
          [title]="'Car models'"
          [items]="carModels"
          (selectedItemsChange)="selectCarModels($event)"
        ></selectable-list>
      </div>
      <div class="display">
        <p>Items selected =&nbsp;</p>
        <p *ngFor="let item of carModelsSelected">{{ item }}&nbsp;</p>
      </div>
    </div>
  </section>
</main>
