/* Display CSS */
main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000005;
}

/* Component CSS */
editable-table {
  width: 80%;
}
